* { 
	padding: 0; 
	margin: 0;
}
body { 
	background: url(/img/gun_metal.png); 
	font-family: 'Segoe UI', sans-serif; 
	font-size: 95%; 
	color: #303030; 
	text-shadow: 1px 1px 0 #ffffff;
}
p { 
	padding: 6px 0; 
	line-height: 150%; 
	font-size: 0.8em;
}
h1, h2, h3 {
	font-weight: 600;
	padding: 6px 0;
	text-shadow: 1px 1px 0 #e0e0e0;
}
pre { 
	font-size: 0.8em;
}
a, 
a:visited, 
a:active { 
	color: #00a6dd; 
	text-decoration: none; 
	font-weight: 600;
}
a:hover { 
	color: #1cc7ff;
}
strong { 
	font-weight: 600; 
	color: #202020;
}
header { 
	width: 550px; 
	margin: 0 auto; 
	padding: 12px; 
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
	background: #c7c7c7; 
	color: #3f3f3f; 
	text-align: center;
}
footer { 
	width: 566px; 
	margin: 0 auto; 
	padding: 4px; 
	border-bottom-left-radius: 5px; 
	border-bottom-right-radius: 5px; 
	background: #ffffff; 
	color: #7f7f7f; 
	text-align: center; 
	font-size: 8pt;
}
div.box { 
	width: 550px; 
	margin: 0 auto; 
	padding: 6px 12px; 
	background: #efefef;
}
div.wrapper { 
	margin: 0 auto; 
	margin-top: 15px; 
	box-shadow: 0 0 10px #1cc7ff; 
	width: 574px; 
	border-radius: 5px;
}
.column {
	float: left;
	width: 255px;
	padding: 0 6px;
	margin: 10px 4px;
	background: #e3e3e3;
	border-radius: 4px;
	box-shadow: -1px -1px 0 #ffffff;
}
.clear {
	clear: both;
	overflow: hidden;
}