<!DOCTYPE html>
<html>
    <head>
        <title>osu!Mirror - Error</title>
        <link href="/mirror.css" rel="stylesheet" media="screen" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="banner">
            <a href="http://osu.yas-online.net/"></a>
        </div>
        <div class="wrapper">
            <header>
                <h1><?php echo $this->config->child->title ?></h1>
                <p>An application error has occurred</p>
            </header>
            <div class="box" id="stats">
                <p><?php echo gettype($this->exception); ?></p>
            </div>
            <footer>
                <a href="http://osu.yas-online.net">osu!Mirror</a> V2 &copy; by David Marner - 
                Running v<span id="version">--</span> <a href="http://development.yas-online.net/osumirror-childv2">get the source</a>
            </footer>
        </div>
    </body>
</html>